<article class="listing">
    <h3>New task:</h3>
    <div class="detail description">
      <span>Description:</span> 
    </div>
    <div class="detail type">
       <span>Category:</span> 
    </div>
    <div class="detail bedrooms">
      <span>Difficulty:</span>
    </div>
    {{#link-to "tasks"}}See all{{/link-to}}
  </article>