<article class="listing">
  <div>
    <form {{action 'save' on="submit"}}>
        <dl>
        <dt>Title:<br> {{input value=title}}</dt>
        <dt>Description:<br> {{textarea value=description cols="40" rows="6"}}</dt>
        <dt>Difficulty:<br> {{input value=difficulty}}</dt>
        </dl>
        <button type="submit" class="btn btn-primary">Done</button>
    </form>
    </div>
    {{#link-to "tasks"}}See all{{/link-to}}
  </article>