<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to tasks!</h2>
  <p>Start managing your tasks right now!</p>
    {{#link-to "tasks.new" class="button"}}Add task{{/link-to}}
    {{outlet}}
</div>